
.grid-container {
    width: 100%;
    
    background-image:linear-gradient(#ebbc23fd,#d36330);
    display: grid;
    grid-template-columns:0.8fr 3fr;
    gap: 15px;

}

.grid-item {
    background-image:linear-gradient(#e9ca75,#e6dec4);
    display: flex;
   
    justify-content: space-between;
    border: 3px solid gray;
}






