* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container{
    display: grid;
    grid-template-columns:0.5fr 3fr;
    gap: 15px;
}

.Datos{
    background-color:rgb(64, 64, 64);
    width: 260px;
    height: 110vh;
    padding: 10px;
    color: white;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}
.perfil> img{
    width: 200px;
    height: 190px;
    border-radius: 50%;
    border: 2px solid rgb(202, 177, 118);
}

.Datos>ul{
    padding: 10px;
    list-style: none;
}
li{
    margin-top: 12px;
}

.Otros{
    padding: 10px;
    margin-left: 4px;
}
.Otros > ul{
    margin-left: 15px;
}
/*=================================================*/
.info{
    padding: 20px;
    width: 750px;
}
.info > hr{
   border-color: rgb(228, 179, 66);
    
}

.name>h3{
    margin-top: 10px;
    color: rgb(116, 114, 114);
}

.informacion{
    text-align: justify;
    margin-left: 15px;
    margin-top: 4px;
    font-size: 17px;
}
